.square {
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  background-color: black;
}
.food {
  background-color: pink;
}
.snake {
  background-color: green;
}
.row {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tcenter {
  text-align: center;
}